/* 'Rubik' */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Colors */
  /* Primary */
  /* Text */

  --paleViolet: hsl(276, 100%, 81%);
  --moderateViolet: hsl(276, 55%, 52%);
  --desaturatedDarkViolet: hsl(271, 15%, 43%);
  --grayishBlue: hsl(206, 6%, 79%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --darkGrayishViolet: hsl(270, 7%, 64%);

  /* Gradients */
  /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

  --lightMagenta: hsl(293, 100%, 63%);
  --lightViolet: hsl(264, 100%, 61%);

  /* Secondary */

  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 20%, 96%);
  --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --veryLightMagenta: hsl(289, 100%, 72%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  font-size: 16px;
}

.background {
  padding: 80px 0;
  width: 100vw;
  position: relative;
}

.background::after {
  content: "";
  width: 200px;
  height: 600px;
  border-bottom-right-radius: 300px;
  background: linear-gradient(
    to right,
    var(--lightViolet) 0%,
    var(--lightViolet) 100%
  );
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.phone {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: var(--lightGrayishViolet);
  border-radius: 30px;
  padding: 10px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.35);
  margin-bottom: 80px;
}

.phone .header {
  background: linear-gradient(
    to left,
    var(--lightMagenta) 0%,
    var(--lightViolet) 100%
  );
  border-radius: 25px 25px 10px 10px;
  height: 90px;
}

.header-contain {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--white);
  padding-top: 20px;
}

.header-contain::after {
  content: "";
  width: 160px;
  height: 25px;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.header-contain i {
  padding: 0 10px;
}

.person {
  flex-grow: 1;
  display: flex;
}

.person div img {
  width: 35px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.box-img {
  padding-right: 10px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user .name {
  font-weight: 400;
  font-size: 0.9rem;
}

.user .status {
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--paleViolet);
}

.chat {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 0.75rem;
  margin: 5px;
  border-radius: 10px 10px 10px 5px;
  padding: 10px;
}

.samuel {
  background-color: var(--paleViolet);
  align-self: flex-start;
  color: var(--moderateViolet);
}

.you {
  align-self: flex-end;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.you.right {
  display: block;
  text-align: right;
}

.you .photos {
  display: flex;
}

.you.photos img {
  width: 50px;
  border-radius: 15px;
}

.hour-price {
  width: 80%;
  padding: 10px;
  padding-right: 20px;
  background: linear-gradient(
    to right,
    var(--lightMagenta) 0%,
    var(--lightViolet) 100%
  );
  margin: 5px;
  display: flex;
  border-radius: 10px 10px 10px 5px;
  color: var(--white);
  align-items: center;
}

.walk {
  font-size: 0.7rem;
  flex-grow: 1;
}

.money {
  font-size: 1rem;
  font-weight: 700;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--lightGrayishViolet);
  margin-right: 10px;
}

.send {
  margin-top: 10px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send p {
  font-size: 0.9rem;
  color: var(--darkGrayishViolet);
}

.send i {
  font-size: 1.5rem;
  color: var(--veryDarkDesaturatedViolet);
  cursor: pointer;
}

.text {
  text-align: center;
  width: 375px;
}

.text h1 {
  color: var(--veryDarkDesaturatedViolet);
  margin-bottom: 20px;
}

.text p {
  color: var(--darkGrayishViolet);
  line-height: 25px;
  letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {
  .background::after {
    width: 350px;
    height: 800px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .phone {
    margin-right: 40px;
  }

  .text {
    text-align: left;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    display: flex;
    align-items: center;
  }

  .phone {
    margin-right: 100px;
  }

  .text {
    text-align: left;
    width: 500px;
  }
}
