@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    /* ### Primary */

    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);
    
    /* ### Neutral */
    
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Karla';
}

.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template: 'header header'
                   'main main'
                   'footer footer';
    padding: 20px 20px;
    padding-top: 100px;
}

h2{
    font-size: 1rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: header;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
}

.header h2{
    color: var(--cyan);
}

.header .yellow{
    color: var(--brightYellow);
    font-weight: 700;
    margin-bottom: 10px;
}

.header p{
    line-height: 25px;
    color: var(--grayishBlue);
    font-size: .9rem;
}

.main{
    grid-area: main;
    padding: 20px;
    background-color: var(--cyan);
    color: var(--lightGray);
}

.main .money{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.main .money span{
    font-size: 2rem;
    font-weight: 700;
    padding-right: 8px;
}

.main .money{
    font-weight: 100;
    font-size: .8rem;
}

.main p{
    font-size: .9rem;
    padding-bottom: 20px;
}

.main a{
    display: inline-block;
    background-color: var(--brightYellow);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: var(--lightGray);
    font-weight: 700;
    box-shadow: 0 5px 5px 2px rgba(0,0,0, .2);
}

.sub-white{
    color: var(--lightGray);
}

.footer{
    grid-area: footer;
    padding: 20px;
    background-color: var(--cyan);
    filter: brightness(1.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer .list-items{
    list-style: none;
}

.footer .list-items li{
    color: var(--lightGray);
    font-size: .8rem;
    padding: 2px 0;
    font-weight: 100;
}


@media screen and (min-width: 768px) and (max-width: 1440px){

    .container{
        grid-template: 'header header'
                       'main footer'
                       'main footer';
        padding: 20px 20px;
    }

    h2{
        font-size: 1.6rem;
    }
    
    .header{
        padding: 40px;
        box-shadow: 0 0 10px rgba(0,0,0, .4);
    }
    
    .header .yellow{
        font-size: 1.1rem;
    }
    
    .header p{
        font-size: 1rem;
    }
    
    .main{
        padding: 40px;
        border-bottom-left-radius: 5px;
    }
    
    .main .money span{
        font-size: 2.5rem;
        font-weight: 700;
        padding-right: 8px;
    }
    
    .main .money{
        font-weight: 100;
        font-size: 1rem;
    }
    
    .main p{
        font-size: 1rem;
    }
    
    .main a{
        max-width: 250px;
    }
    
    .footer{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        padding: 40px;
    }
    
    .footer .list-items li{
        color: var(--lightGray);
        font-size: .9rem;
    }

}

@media screen and (min-width: 1440px){
    
    .container{
        width: 100%;
        max-width: 1440px;
        grid-template: 'header header'
                       'main footer'
                       'main footer';
        grid-template-columns: 1fr 1fr;
        padding: 40px 40px;
        margin-top: 200px;
    }

    h2{
        font-size: 3rem;
    }
    
    .header{
        padding: 40px;
        box-shadow: 0 0 10px rgba(0,0,0, .4);
    }
    
    .header .yellow{
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    
    .header p{
        font-size: 1.4rem;
        font-weight: 100;
    }
    
    .main{
        padding: 40px;
        border-bottom-left-radius: 5px;
    }
    
    .main .money span{
        font-size: 2.8rem;
    }
    
    .main .money{
        font-size: 1.2rem;
    }
    
    .main p{
        font-size: 1.5rem;
    }
    
    .main a{
        max-width: 250px;
        padding: 20px 0;
        font-size: 1.2rem;
    }
    
    .footer{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        padding: 40px;
    }
    
    .footer .list-items li{
        color: var(--lightGray);
        font-size: 1rem;
    }

}