/*Quicksand*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/*PT Sans Narrow*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

/* -------------------------------------
----------------------------------------
  AJUSTES PREDETERMINADOS 
----------------------------------------
---------------------------------------*/

:root {
  --main-color: #2f3039;
  --font-color-menu: #808080;
  --title-color: #646363;
  --white: white;

  --green: #34aaac;
  --greenDark: #1a7b81;
}

::-webkit-scrollbar {
  background-color: #dbdbdb;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5px;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand";
  font-size: 18px;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: var(--green);
  font-size: 1em;
  border: none;
  width: 90px;
  margin: 0 auto;
}

.trabajos button:hover,
.habilidades button:hover {
  text-decoration: underline;
}

button.btn-hidden {
  display: none;
}

.gif {
  grid-column: 1 / -1;
  width: 50px;
  margin: 0 auto;
}

header .hamburger {
  outline: none;
}

header .hamburger-inner,
header .hamburger-inner::before,
header .hamburger-inner::after {
  background-color: white;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

/* -------------------------------------
----------------------------------------
  CONTAINER
----------------------------------------
--------------------------------------- */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* -------------------------------------
----------------------------------------
  HEADER
----------------------------------------
--------------------------------------- */

.header {
  width: 100%;
  background-color: var(--main-color);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .fixed-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 85px;
  align-items: center;
}

.header .fixed-header .user-img {
  display: flex;
  align-items: center;
}

.header .fixed-header .user-img .box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.header .fixed-header .user-img .box img {
  object-fit: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.header .fixed-header .user-img .name {
  text-align: center;
  font-size: 1.2em;
  color: var(--white);
}

.header nav {
  order: 1;
  width: 50%;
  height: calc(100vh - 80px);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 100000;
  transform: translateX(-500px);
}

.header nav.show {
  animation: menuShow 1s ease forwards;
}

@keyframes menuShow {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

.header nav.hidden {
  animation: menuHidden 1s ease forwards;
}

@keyframes menuHidden {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500px);
  }
}

.nav ul {
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

.nav ul li {
  margin: 20px 0;
}

.nav ul li i {
  width: 40px;
  text-align: center;
}

.nav ul li a {
  text-decoration: none;
  font-size: 1em;
  color: var(--font-color-menu);
  transition: color 0.5s ease;
  display: block;
  width: 100%;
}

.nav ul li a:hover {
  color: var(--white);
}

.nav ul li a:hover i {
  color: var(--green);
}

.active i {
  color: var(--green);
}

.nav ul .active a {
  color: var(--white);
}

.cv {
  text-align: center;
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
  background-color: var(--green);
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0 4px 0 var(--greenDark);
  cursor: pointer;
}

.cv:hover {
  box-shadow: inset 0 4px 0 var(--greenDark);
  filter: brightness(1.1);
}

.cv a {
  color: var(--white);
  text-decoration: none;
  font-size: 1em;
}

.redes-sociales {
  align-self: center;
  display: flex;
  margin-bottom: 20px;
}

.redes-sociales i {
  font-size: 1.6em;
  color: var(--font-color-menu);
  margin: 15px 4px;
}

.redes-sociales a i:hover {
  color: var(--white);
}

/* -------------------------------------
----------------------------------------
  MAIN
----------------------------------------
--------------------------------------- */

.main {
  margin-bottom: 50px;
  overflow: hidden;
}

/* -------------------------------------
----------------------------------------
  BACKGROUND
----------------------------------------
--------------------------------------- */

.background {
  height: 280px;
  background: url("../images/bg-dark.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contain {
  width: 100%;
  margin: 0 auto;
  font-size: 0.8em;
  color: var(--white);
  height: 100%;
}

.contain-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

.contain .bienvenido {
  font-size: 1.3em;
  transform: translate(0, -100px);
  animation: bienvenido 1s linear forwards;
}

@keyframes bienvenido {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.contain h1 {
  transform: translate(0, 100px);
  opacity: 0;
  animation: titulo 1s linear forwards;
}

@keyframes titulo {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.contain-animation::before {
  content: "";
  width: 320px;
  height: 5px;
  background-color: var(--green);
  margin-bottom: 10px;
  transform: translateX(600px);
  opacity: 0;
  animation: linea 1.5s linear forwards;
  border-radius: 20px;
}

.contain-animation::after {
  content: "";
  width: 320px;
  height: 5px;
  background-color: var(--green);
  margin-top: 10px;
  transform: translateX(-600px);
  opacity: 0;
  animation: linea-2 1.5s linear forwards;
  border-radius: 20px;
}

@keyframes linea {
  0% {
    transform: translateX(600px);
    opacity: 0;
  }

  80% {
    transform: translateX(400px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes linea-2 {
  0% {
    transform: translateX(-600px);
    opacity: 0;
  }

  80% {
    transform: translateX(-400px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* -------------------------------------
----------------------------------------
  CONTENEDOR CENTRAL
----------------------------------------
--------------------------------------- */

.contain-center {
  width: 100%;
  padding: 0 20px;
}

.contain-center h2 {
  font-family: "PT Sans Narrow";
  font-size: 2em;
  letter-spacing: 5px;
  padding-top: 120px;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
  text-align: center;
}

/* -------------------------------------
----------------------------------------
  SOBRE MI
----------------------------------------
--------------------------------------- */

.sobre-mi p {
  color: var(--title-color);
  font-size: 1em;
}

.sub-sobre-mi {
  margin-top: 50px;
}

.sobre-mi h3 {
  font-size: 1.5em;
  font-family: "PT Sans Narrow";
  color: var(--title-color);
  margin-bottom: 10px;
}

.list ul li {
  list-style: none;
  width: 100%;
  color: var(--greenDark);
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 40px;
}

.list ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white);
  border: 5px solid var(--greenDark);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.list ul li::after {
  content: "";
  width: 5px;
  height: 50px;
  background-color: var(--greenDark);
  position: absolute;
  top: 17px;
  left: 12px;
  z-index: -1;
  margin: auto;
}

.list ul li:last-child::after {
  content: "";
  width: 0;
  height: 0;
}

/* -------------------------------------
----------------------------------------
  HABILIDADES MOBILE
----------------------------------------
--------------------------------------- */

.habilidades-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-habilidades {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.box-habilidades .box-habilidad img {
  width: 50%;
}

.responsive-habilidad {
  grid-column: span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* -------------------------------------
----------------------------------------
  HABILIDADES DESKTOP
----------------------------------------
--------------------------------------- */

.habilidades-desktop {
  display: none;
}

/* -------------------------------------
----------------------------------------
  TRABAJOS
----------------------------------------
--------------------------------------- */

.trabajos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filter-box {
  margin: 5px;
  cursor: pointer;
  background-color: #dddcdc;
  border-radius: 50px;
  box-shadow: 3px 3px 0 var(--font-color-menu);
  transition: background-color 0.4s ease;
}

.filter-box p {
  padding: 5px 10px;
}

.filter-box:hover {
  color: white;
  background-color: var(--green);
  box-shadow: inset 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.filter-box.is-active {
  color: white;
  background-color: var(--green);
  box-shadow: inset 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.box-gallery {
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 20px;
}

.fail-work {
  grid-column: 1 / -1;
  text-align: center;
}

.responsive-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallery .box-img {
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.gallery .box-img img {
  background-color: white;
  width: 90%;
  padding: 40px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
  filter: grayscale(0.4);
  transition: transform 0.5s ease, filter 0.5s ease;
  border-radius: 10px;
}

.gallery .box-img:hover img {
  transform: scale(1);
  filter: grayscale(0);
}

.filter-text {
  text-align: center;
  color: var(--title-color);
  font-size: 1.1em;
}

/* -------------------------------------
----------------------------------------
  CONTACTO
----------------------------------------
--------------------------------------- */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin: 20px 0;
}

.grid-form input[type="text"],
.grid-form input[type="email"],
.grid-form textarea {
  width: 100%;
  font-size: 0.8em;
  padding: 20px 10px;
  background-color: #ebebeb;
  border: 1px solid #b1b1b1;
  color: #4f5074;
  outline: none;
}

.grid-form div {
  position: relative;
}

.grid-form div.error input,
.grid-form div.error textarea {
  border: 1px solid red;
}

.grid-form div p {
  visibility: hidden;
}

.grid-form div.error p {
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 5px;
  color: red;
  visibility: visible;
}

.grid-form input[type="text"],
.grid-form input[type="email"] {
  padding: 20px 10px;
}

.grid-form div textarea {
  resize: none;
}

.grid-form .textarea {
  grid-column: 1 / -1;
}

form input[type="submit"] {
  width: 140px;
  align-self: center;
  padding: 10px 40px;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  font-size: 1em;
  border: none;
  outline: none;
  transition: opacity 0.5s ease;
}

form input[type="submit"]:hover {
  opacity: 0.7;
}

form .status {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 25px;
}

form .success {
  color: var(--green);
  display: none;
}

form .fail {
  color: red;
  display: none;
}

/* -------------------------------------
----------------------------------------
  WAVE
----------------------------------------
--------------------------------------- */

.wave-box {
  height: 60px;
  overflow: hidden;
}

.wave-box path {
  fill: var(--green);
}

.slider img {
  width: 150px;
}

@media screen and (min-width: 425px) {
  .cv {
    width: 200px;
  }

  .redes-sociales i {
    font-size: 2em;
    color: var(--font-color-menu);
    margin: 0 8px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header nav {
    order: 1;
    width: 220px;
    height: calc(100vh - 80px);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100000;
    transform: translateX(-500px);
  }

  .list {
    display: flex;
  }

  .list ul li {
    width: 350px;
    padding-left: 40px;
  }

  .box-habilidades {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .responsive-habilidad {
    grid-column: span 3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .box-habilidades .box-habilidad img {
    width: 48%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .responsive-gallery {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .wave-box {
    height: 100px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 220px 1fr;
  }

  .header {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
    padding: 0 20px;
  }

  .header .fixed-header {
    flex-wrap: nowrap;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .header .fixed-header .user-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
  }

  .header .fixed-header .user-img .box {
    width: 120px;
    height: 120px;
    margin-right: 0;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .header .fixed-header .user-img .box img {
    height: 120px;
    width: 120px;
  }

  .hamburger {
    display: none;
  }

  .header nav {
    order: 0;
    width: 220px;
    height: 100%;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    transform: translateX(0);
  }

  .header nav ul li {
    font-size: 1.1em;
  }

  .redes-sociales {
    margin-bottom: 0;
  }

  .background {
    height: 100vh;
    background: url("../images/bg-dark.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .contain .bienvenido {
    font-size: 2em;
  }

  .contain h1 {
    font-size: 1.5em;
  }

  .contain-animation::before {
    width: 500px;
  }

  .contain-animation::after {
    width: 500px;
  }

  .contain-center {
    width: 100%;
    padding: 0 80px;
  }

  .list {
    display: flex;
  }

  .list ul li {
    width: 350px;
    padding-left: 40px;
  }

  .sobre-mi .box-text {
    width: 100%;
  }

  .habilidades-mobile {
    display: none;
  }

  .habilidades-desktop {
    display: block;
    height: 180px;
    width: 100%;
    overflow: hidden;
  }

  .slider {
    display: flex;
    align-items: center;
    width: 2500px;
    height: 100%;
  }

  .habilidades-desktop .slider .box-habilidad {
    width: 125px;
    margin-left: 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .responsive-gallery {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .gallery .box-img img {
    width: 100%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
  }

  .grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    margin: 20px 0;
  }

  .grid-form textarea {
    grid-column: 1 / -1;
  }

  .wave-box {
    grid-column: 2;
    height: 180px;
    overflow: hidden;
  }

  .wave-box path {
    fill: var(--green);
  }
}

@media screen and (min-width: 1440px) {
  .background {
    position: relative;
  }

  .background::before {
    content: "";
    width: 800px;
    height: 800px;
    background: url("../images/bg-pattern-intro-left-desktop.png") no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    position: absolute;
  }

  .background::after {
    content: "";
    width: 400px;
    height: 700px;
    background: url("../images/bg-pattern-intro-right-desktop.png") no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    position: absolute;
  }

  .sobre-mi {
    position: relative;
  }

  .sobre-mi::before {
    content: "";
    width: 570px;
    height: 700px;
    background: url("../images/estrellitas-2.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  .contacto {
    position: relative;
  }

  .contacto::before {
    content: "";
    width: 450px;
    height: 400px;
    background: url("../images/estrellita-right.png") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
  }

  .contacto::after {
    content: "";
    width: 250px;
    height: 290px;
    background: url("../images/estrellita-left.png") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .sobre-mi .box-text p {
    width: 65%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .responsive-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}
