/* 'Montserrat' */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  /* Primary */

  --linearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

  /* Neutral */

  --veryLightGrayishBlue: hsl(240, 78%, 98%);
  --lightGrayishBlue: hsl(234, 14%, 74%);
  --grayishBlue: hsl(233, 13%, 49%);
  --darkGrayishBlue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-size: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(3, 550px);
  margin: 0 auto;
  grid-row-gap: 50px;
  justify-items: center;
}

.grid-item {
  width: 90%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 35px;
  border-radius: 10px;
}

.grid-item:first-child .price {
  font-size: 2rem;
  color: var(--grayishBlue);
  margin-bottom: 20px;
}

.grid-item:nth-child(3) {
  background: -moz-linear-gradient(
    left top,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left top,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.grid-item:nth-child(3) h3 {
  color: var(--veryLightGrayishBlue);
}

.grid-item:nth-child(3) .money {
  color: var(--veryLightGrayishBlue);
  border-color: var(--veryLightGrayishBlue);
}

.grid-item:nth-child(3) .list li {
  color: var(--veryLightGrayishBlue);
  border-color: var(--veryLightGrayishBlue);
}

.grid-item:nth-child(3) a {
  color: hsl(237, 63%, 64%);
  background: white;
}

.grid-item:nth-child(3) a:hover {
  border: 1px solid var(--veryLightGrayishBlue);
  color: var(--veryLightGrayishBlue);
  background: transparent;
}

.grid-item h3 {
  color: var(--grayishBlue);
}

.grid-item .money {
  width: 100%;
  text-align: center;
  color: var(--darkGrayishBlue);
  font-size: 3.9rem;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.grid-item .list {
  list-style-type: none;
  width: 100%;
  margin-top: -30px;
}

.grid-item .list li {
  border-bottom: 1px solid var(--lightGrayishBlue);
  text-align: center;
  color: var(--grayishBlue);
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.grid-item .monthly {
  display: none;
}

.grid-item a {
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  background: -moz-linear-gradient(
    top,
    right,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    right,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: var(--veryLightGrayishBlue);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.7s, color 0.4s;
}

.grid-item a:hover {
  background: transparent;
  color: var(--darkGrayishBlue);
  border: 1px solid var(--darkGrayishBlue);
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input p {
  margin: 0 20px;
  color: var(--lightGrayishBlue);
}

.label {
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    right,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    right,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 60px;
  height: 35px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.label:hover {
  opacity: 0.5;
}

::after {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin: 5px;
}

.mon::after {
  content: "";
  width: 25px;
  height: 25px;
}

@keyframes izquierda {
  0% {
    left: 25px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.anu::after {
  content: "";
  width: 25px;
  height: 25px;
}

.click-mon::after {
  animation: derecha 0.5s forwards;
}

.click-anu::after {
  animation: izquierda 0.5s forwards;
}

@keyframes derecha {
  0% {
    left: 0;
  }

  100% {
    top: 0;
    left: 25px;
  }
}

.grid-item {
  background-color: white;
}

.grid-item:first-child {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 550px;
    grid-template-areas:
      "pricing   pricing       pricing"
      "basic     professional  master";
    margin: 0 auto;
    grid-row-gap: 50px;
    justify-items: center;
  }

  .grid-item:first-child {
    grid-area: pricing;
  }

  body::after {
    content: "";
    background: url(../images/bg-top.svg) no-repeat;
    width: 400px;
    height: 1000px;
    background-size: contain;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: -1;
  }

  body::before {
    content: "";
    background: url(../images/bg-bottom.svg) no-repeat;
    width: 1000px;
    height: 400px;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
